header {
	background: #e7c964;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {

	color: rgb(252, 241, 146);
	text-decoration: underline;
}




.produtos{

	width: 940px;
	margin: 0 auto;
	padding: 50px;
}


.produtos li{

display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
	
margin: 0 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border: 5px solid #000000;
border-radius: 20px;
}

.produtos li:hover {

	border-color:rgb(250, 241, 114) ;
}

.produtos li:active {

	border-color: palegreen ;
}

.produtos li:hover h2 {

font-size: 48px;

}

.produtos h2{
	font-size: 30px;
	font-weight: bold;

}

.produtonome{
	font-size: 20px;
}


.produtopreco{
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0 0;
	margin-top: 10px;

}

footer{
text-align: center;
background: url(bg.jpg);
padding: 40px 0;

}

.copyright{

	color: aliceblue;
	font-size: 15px;

}

main{
width: 940px;
margin: auto;

}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.inputpadrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}
    .checkbox{

        margin: 30px 0 ;


    }




form submit{
    display: block;
 
}

.enviar{

	width: 40%;
	padding: 15px 0;
	background-color: #e7c964;
	color: aliceblue;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 2s all;
	cursor: pointer;
}

.enviar:hover{

	background-color:rgb(210,105,30) ;
	transform: scale(1.2);
	

}

table{

	margin: 20px 0 40px;

}

thead{
background-color: #000000;
color: aliceblue;
font-size: bold;
font-size: 20px;


}

td, th{
	border: 1px solid;
	padding: 15px 8px ;
}

/* css da pagina Index */

.banner{

width: 100%;


}
 .tituloprincipal{
	
    text-align: center;
    font-size: 2em;
	margin: 0 0 1em;
	padding-left: 20px;
	clear:left;

}
.principal{
    background-color: #E3E2E1;
    padding: 30px;
}

.principal p{

	margin: 0 0 1em;
	text-align: center;
}

.principal p strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}

.utensilios{
	width: 200px;
	float: left;
	margin: 0 20px 20px 0;
}
em strong{

    color: #EB8014;
}
.imagembeneficios{
    width: 45%;

}