
#missao{
    font-size: 25px;
}

.itens{
font-style: italic;
}




.beneficios{
    background-color: #FDFBF9;
    padding: 20px;
}

.atendimento {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


